@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./toast.css";
body {
    direction: rtl;
    background-color: #E1E8EE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 550px;
    width: 350px;
    position: relative;
}

h1,
h2,
h3 {
    font-weight: 900;
}

h3 {
    color: #4e787e;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 2px;
    margin-top: 40px;
}


/** Layout **/

.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    flex-direction: column;
}


/** The Original Design **/

.friend-request-card {
    display: flex;
    width: 90%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 54, 85, 0.2), 0px 3px 20px rgba(0, 54, 85, 0.3);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.friend-request-card .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.friend-request-card .profile-picture:after {
    /** Add inner-shadows to user-generated images **/
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}

.friend-request-card .profile-picture img {
    width: 80px;
    height: 80px;
}

.friend-request-card h1,
.friend-request-card h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.friend-request-card h1 {
    color: #001d37;
    font-size: 20px;
}

.friend-request-card h2 {
    color: #6b7880;
    font-size: 10px;
}

.friend-request-card .friend-request-actions {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.friend-request-card .button {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    border-radius: 100px;
    width: 100%;
    padding: 10px 5px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    /** Slightly lighter than design because, browser rendering differences y'all **/
    transition: background 0.3s;
    cursor: pointer;
}

.friend-request-card .button:first-child {
    margin-bottom: 14px;
}

.friend-request-card .button.button-primary {
    background: #3a9bde;
    color: #fff;
    width: 80%;
}

.friend-request-card .button.button-primary:hover {
    background: #2181c4;
}

.friend-request-card .button.button-primary-send {
    background: #3a9bde;
    color: #fff;
    width: 20%;
}

.friend-request-card .button.button-primary-send:hover {
    background: #2181c4;
}

.friend-request-card .button.button-secondary {
    background: #6f8493;
    color: #fff;
    width: 80%;
}

.friend-request-card .button.button-secondary:hover {
    background: #596a76;
}

.no-requests {
    font-size: 20px;
    font-weight: bold;
}

.tabs-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.tab {
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #dedede;
    text-align: center;
    cursor: pointer;
    flex-basis: 50%;
}

.active-tab {
    background-color: #c5d5e0;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #dedede;
    text-align: center;
    cursor: pointer;
    flex-basis: 50%;
}

.search-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.search-button {
    border: none;
    background: transparent;
    font-size: 20px;
    opacity: 0.6;
    left: -10px;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.search-bar {
    position: relative;
    background: #FFF;
    border: none;
    opacity: 0.7;
    width: 230px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    flex-basis: 100%;
}

.search-bar:focus {
    outline: none;
    opacity: 1;
    transition: border 0.2sec ease;
}

.search-bar::selection {
    background: #F5F5F5;
}

.search-btn {
    display: flex;
    align-items: center;
    height: 52px;
    width: 40px;
    background: #FFF;
    opacity: 0.7;
    border-radius: 50px 0px 0px 50px;
}

input::placeholder {
    font-size: 18px;
    opacity: 0.6;
}

.send-h1 {
    font-size: 15px !important;
    margin-right: 2px;
}

.fa-arrow-circle-left {
    font-size: 300%;
    color: #c2c2c2;
    margin-right: 300px;
    z-index: 100;
    cursor: pointer;
}

.fa-arrow-circle-left:hover {
    color: #808080;
}