@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
    direction: rtl;
    background-color: #E1E8EE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 550px;
    width: 350px;
    position: relative;
    font-size: 14px;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

h3 {
    margin-bottom: 2px !important;
}

h2 {
    margin-top: 1px;
}

p {
    line-height: 1.6;
    margin-top: 1px;
}

.fa-arrow-circle-left {
    font-size: 300%;
    color: #c2c2c2;
    margin-right: 300px;
    z-index: 100;
    cursor: pointer;
}

.fa-arrow-circle-left:hover {
    color: #808080;
}

.last-line {
    text-align: center;
    margin-top: 45px;
    font-style: italic;
}

.logo-container {
    text-align: center;
    margin-top: 5px;
}

.logo-container img {
    height: 100px;
    width: 100px;
}